@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Marck+Script&display=swap');
body {
    text-align: center;
    /*background: rgb(0, 153, 255);*/
    background: url(img/background_test.png);
    background-repeat: no-repeat;    
    font-weight: 100;
    
  }
 
  footer {
    position:absolute;
    width: 99%;
    margin-bottom: 2.5vh;
    line-height: 1.5em;    
    bottom:0;
    text-align: center;
    color:white;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
  }
  .deadline-message{
    display: none;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color:white;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
  }
   
  .visible{
    display: block;
    color:white;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
  }
   
  .hidden{
    display: none;
  }
  .timer-title {
    color: white;
    font-weight: 100;
    font-size: 60px;
    margin: 40px 0px 20px;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Marck Script', cursive;
    z-index: 2;
  }
   
  .timer {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    z-index:2;
  }
   
  .timer-number {
    padding: 10px;
    border-radius: 3px;
    /*background: #00bf96;*/
    display: inline-block;
  }
   
  .timer-time {
    padding: 15px;
    border-radius: 3px;
    /*background: #00816a;*/
    display: inline-block;
  }
   
  .timer-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }